# ----------------------------------------------
#                Enviroment Settings
# ----------------------------------------------

PORT=
NODE_ENV=   # development || production
ORIGIN=
JWT_KEY=
BCRYPT_SALT=

# ----------------------------------------------
#                 Database config
# ----------------------------------------------

DB_TYPE=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# ----------------------------------------------
#                   Admin User
# ----------------------------------------------

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

# ----------------------------------------------
#                     AWS KMS
# ----------------------------------------------

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
KMS_ENVELOPE_KEY_ID=
KMS_HMAC_KEY_ID=